table(border='0', width='100%')
    each item in data
      tr
        td= item.host
        td= item.row_assigned_by
        td= item.department_name        
        td= item.task_status        
      tr